@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");

body {
  overflow-x: hidden;
  font-family: "Alegreya", serif;
  background-color: #f4ebd0;
}
header {
  margin-bottom: 70px;
}

section {
  margin-bottom: 70px;
}

h1 {
  color: #e70c82;
}
p {
  color: #2399cc;
}
.btn-pink-moon {
  background: rgb(0, 162, 233);
  background: linear-gradient(
    90deg,
    rgba(0, 162, 233, 0.865983893557423) 76%,
    rgba(168, 141, 145, 0.4822303921568627) 94%
  );
  color: white;
  border: 3px solid #eee;
  border-radius: 10px;
}

.img-section {
  width: 500px;
  height: 550px;
}

footer {
  background-color: #342c2a;
  padding: 35px;
}

@media screen and (max-width: 420px) {
  .img-section {
    width: 200px;
    height: 250px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
